@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
*,
*::before,
*::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Popping", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(44, 43, 43);
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    
}
body.menu-open .navbar {
    background: black; /* Change background color to black */
    z-index: 10000;
}

.logo {
    font-size: 3rem;
    color: #ddd;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo span {
    color: red;
}

.navbar a {
    font-size: 1.8rem;
    color: #fff;
    margin-left: 10rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover,
.navbar a.active {
    color: #2196f3;
    border-bottom: 3px solid #2196f3;
}

#menu-icon {
    font-size: 3.6rem;
    color: #2196f3;
    display: none;
}

section {
    min-height: 100vh;
    padding: 1rem 9% 10rem;
    align-items: center;
    min-height: auto;
    overflow: hidden;
}

.Home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 60px;
    height: 800px;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.home-content span {
    color: #2196f3;
}

.home-content h3 {
    margin-bottom: 2rem;
    color: #ddd;
    margin-top: 5rem;
    font-size: 2.5rem;
}

.home-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin-top: 1rem;
    line-height: 1;
}
.home-content p {
    color: #dbd1d1;
    font-size: 2rem;
}
.home-img {
    margin-left: 59rem;
}
.home-img img {
    border-radius: 50%;
    position: relative;
    margin-left: -2.5rem;
    top: 0rem;
    width: 25vh;
    height: 25vh;
    box-shadow: 0 0 25px #2196f3;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.social-icons {
    position: relative;
    margin-top: -2rem;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid #2196f3;
    font-size: 2.5rem;
    border-radius: 10px;
    color: #2196f3;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #fff;
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px #2196f3;
    background-color: #2196f3;
}

.btn1 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #2196f3;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #fff;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: -0.5rem;
}

.btn1:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #2196f3;
    color: #222;
    font-weight: 800;
}

.btn2 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: #21f359;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #fff;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 1.5rem;
}

.btn2:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px #21f344;
    color: #222;
    font-weight: 800;
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Software Developer";
    color: #2196f3;
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: rgb(44, 43, 43);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid #222;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid #2196f3;
    }
}

@keyframes words {
    0%,
    20% {
        content: "Software Developer";
    }
    21%,
    40% {
        content: "UI / UX Designer";
    }
    41%,
    60% {
        content: "Graphic Designer";
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/*My service section*/
.my-services {
    display: none;
    background-image: url('services-bg.jpg');
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.services {
    width: 100%;
    margin-bottom: 4em;
}

.service {
    max-width: fit-content;
    margin: 0 auto;
}
.service p {
    font-size: 2.2rem;
    color: #dbd1d1;
}
.service h3 {
    text-decoration: underline;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 3rem;
    color: #2196f3;
}
.my-services h2 strong {
    font-size: 4rem;
    color: #2196f3;
}
.section__title--services strong {
    color: #dbd1d1;
}


/* About Me */
.about-me {
    max-width: 100%;
    height: 800px;
    margin: 0 auto;
    display: none;
    position: absolute;
    background-color: rgb(44, 43, 43);
    top: -15;
    left: 0;
    width: 100%;
}
.about-me h2 {
    font-size: 5rem;
    margin-left: 60rem;
    color: #2196f3;
}


.about-me__body {
    display: flex;
    margin-top: 30px;
}
.about-me__body p {
    margin-top: 20px;
    color: #dbd1d1;
    font-size: 2rem;
}
.subtitle {
    color: white;
    font-size: 3rem;
    margin-left: 40rem;
}
.section__subtitle--about strong {
    color: white;
}
.about-me .show {
    display: block;
}
.about-me__content {
    flex: 1;
}

.about-me__image {
    margin-top: 40px; 
    margin-left: 20px;
    box-shadow: 5px 5px 10px, rgba(0, 0, 0, 0.9);
}
.about-me__image img {
    height: 500px;
    width: 700px;
    border: 4px;
    box-shadow: 0 0 25px #2196f3;
    border-radius: 15px;
    box-shadow: 5px 5px 10px, rgba(0, 0, 0, 0.9);
}

/* My Projects*/
.Projects {
    display: none;
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(44, 43, 43);
    background-position: center;
    padding: 20px; 
    color: black;
    height: calc(100vh - 100px);
    overflow-y: auto;
}

#projectsSection.show {
    display: block;
}
.myProjectHead {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}
.myProjectHead h2 {
    color: #2196f3;
}

.myProject {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    flex: 0 0 calc(33% - 20px);
    margin-bottom: 30px;
    background-color: black; 
    padding: 5px;
    height: 450px;
    box-shadow: 0 0 20px #2196f3; 
     
}

.col img {
    width: 90%;
    height: 40%;
    transition: transform 0.3s ease-in-out;
}
.col img:hover {
    transform: scale(1.05);
}

.col p {
    font-size: 20px;
    margin-top: 20px;
    color: #fff;
}
.col h3 {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 0;
    color: #fff;
}

.btn-work {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    border-radius: 25PX;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.btn-work:hover {
    transform: scale(1.05);
}

/*Back Home button*/
.Home-btn {
    position: fixed;
    top: 20px; /* Adjust this value as needed */
    left: 20px; /* Adjust this value as needed */
    z-index: 999; /* Ensure it appears above other content */
}

.Home-btn button {
    background: none;
    border: none;
    border-radius: 25px;
    background: #2196f3;
    width: 80px;
    height: 40px;
    color: black; /* Adjust text color as needed */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
}
.Home-btn button:hover {
    transform: scale(1.05);
}

/* Footer*/
.footer {
    display: none;
    background-color: #333;
    color: #fff;
    margin-top: 10rem;
    padding: 50px 0;
    height: 700px;
    top: 20;
}

.footer__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: -2rem;
}

.footer__section {
    flex: 1;
    margin: 0 20px;
}

.footer__section h3 {
    font-size: 40px;
    margin-bottom: 10px;
}

.footer__section p {
    margin-bottom: 15px;
    color: #ddd;
    font-size: 2rem;
}
.footer__section p a {
    margin-bottom: 15px;
    color: #ddd;
    text-decoration: underline;
    font-weight: 600;
}

.footer__section form input {
    width: 100%;
    height: 6rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 4px solid #2196f3;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.footer__section form textarea {
    width: 100%;
    height: 14rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 4px solid #2196f3;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.footer__section iframe {
    border-radius: 10px;
}
.footer__section form button {
    padding: 10px 20px;
    background-color: #2196f3;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer__section form button:hover {
    background-color: #ddd;
}
.text2 {
    font-size: 2.5rem;
    color: #2196f3;
    margin-left: 500px;
    margin-bottom: 20px;
}
.footer-icon i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9.5rem;
    height: 9rem;
    background: transparent;
    border: 0.2rem solid #2196f3;
    font-size: 2.5rem;
    border-radius: 10px;
    color: #2196f3;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.footer-icon {
    margin-left: 10rem;
}
.hidden {
    display: none;
}

@media (max-width: 1285px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    header {
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
        min-height: 100vh;
    }
}

@media (max-width: 895px) {
    #menu-icon {
        display: block;
        font-size: 3.6rem;
        color: #2196f3;
        cursor: pointer;
        position: absolute;
        top: 2rem;
        right: 2rem;
        z-index: 1000;
    }
    body {
        overflow-x: hidden;
    }
    .navbar {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        padding: 1rem 2rem;
        background: rgba(0, 0, 0, 0.6);
        backdrop-filter: blur(10px);
        flex-direction: column;
        text-align: center;
        display: none;
    }
    .navbar.active {
        display: flex;
    }
    .navbar a {
        display: block;
        margin: 2rem 0;
        font-size: 2rem;
        transition: color 0.3s ease-in-out;
    }
    section {
        padding: 10rem 3% 2rem;
        min-height: auto;
    }
    .navbar a:hover {
        color: #2196f3;
    }
    .Home {
        margin-top: 0;
        height: auto;
    }
    .home-img {
        margin-left: 0;
        margin-top: 2rem;
        text-align: center;
    }
    .home-img img {
        margin-left: auto;
        margin-right: auto;
    }
    .home-content p {
        font-size: 1.7rem;
    }
    .home-content h1 {
        font-size: 2.4rem;
        margin-bottom: -40px;
    }
    .home-content h3 {
        font-size: 2rem;
    }

    .text-animation {
        font-size: 2rem;
    }
    .footer {
        margin-top: 0;
        height: auto;
    }
    .footer__container {
        flex-direction: column;
        align-items: center;
    }
    .footer__section {
        margin: 2rem 0;
    }
    .footer__section form input,
    .footer__section form textarea {
        width: 100%;
        margin: 0;
    }
    .text2 {
        font-size: 1.8rem;
        margin-left: 0;
        text-align: center;
    }
    .footer-icon {
        margin-left: 0;
        margin-top: 2rem;
    }
    
}

